ul li {
  margin-bottom: 5px;
  list-style: none;
}

.red {
  position: relative;
  padding: 15px;
}

.red:hover:before {
  content: url(envelope.svg);
  position: absolute;
  background-size: contain;
  left: 0;
  top: 50%;
  height: 7px;
  width: 14px;
  transform: translateY(-50%);
}
