div {
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  /*сохраняет анимацию в последней точке*/
}

@keyframes slidein {
  from {
    top: 100%;
    left: 0;
  }

to {
    top: 0;
    left: 100%;
    transform: rotate(70deg);
  }
}
