body {
  font-size: 14px;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  display: inline-block;
}

.bounce {
  display: inline-block;
  animation: bounce .5s infinite;
  animation-direction: alternate;
}

@keyframes bounce {

from {
  transform: translateY(0);
}

to {
  transform: translateY(-10px);
}

}
